@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #070709;
  --white: #e8e8e8;
  --accent: #c6e643;
  --accent2: #14e6c3;
}

body {
  background-color: var(--black);
  color: var(--white);
}

.btn_animation {
  overflow: hidden;
}

.btn_animation::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 75%;
  transform: translate();
  background-image: conic-gradient(transparent, transparent, var(--accent));
}
.btn_animation::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 75%;
  background-image: conic-gradient(var(--accent), transparent, transparent);
}

.active::before,
.active::after {
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
