@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: hsl(0, 0%, 95%);
  --black: hsl(0, 0%, 5%);
  --gray: hsl(0, 0%, 48%);
  --accent: hsl(72, 77%, 58%);
  --background: hsl(0, 0%, 18%);
}

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("../public/fonts/Inter-Regular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "DMSans";
    src: url("../public/fonts/DMSans_18pt-Regular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  body {
    @apply font-DMSans bg-background text-white text-lg;
  }

  ._app {
    @apply w-full min-h-screen flex flex-col justify-between;
  }

  ._container {
    @apply max-w-[1536px] mx-auto px-4;
  }

  ._gardient_right {
    background: rgb(251, 255, 0);
    background: linear-gradient(90deg, rgb(251, 255, 0), rgba(91, 207, 33, 1));
  }

  h1 {
    @apply font-Inter font-semibold text-[64px];
  }

  h2 {
    @apply font-Inter text-[32px];
  }

  h3 {
    @apply font-Inter text-[20px];
  }
}
